html,body{
    height: 100%;
    padding:0px; 
    margin:0px
 }
 .logo{
    padding: 5px;
    background-color: rgb(29, 27, 27);
    color:white;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
 }
 a{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:goldenrod;
    text-decoration: none;
    text-align: center;
    padding:8px;
    gap:16px;     
 }
 a:hover{
    font-size: 20px;
    background-color:goldenrod;
    color:black;
    text-decoration: none;
    padding:8px;
    gap:16px;
 }
 /*conteúdo*/
  .paginaVi{
     display: flex;
     flex-direction: column;
     background-image: url("file:///C:/Users/Natalia/Downloads/Screenshotter--Netflix-1’56”.jpg");
     background-repeat: no-repeat;
     background-size: 100%;
 }
  h2{
     font-size:25px;
     text-transform:uppercase;
     flex: 2 0 auto;
     margin-top: 30px;
     margin-left: 20%;
     margin-right: 20%;
     margin-bottom: 9px;
     border-style:double;
     border-color: goldenrod;
     border-radius: 6pt;
     background-color:rgb(0, 0, 0);
     background-size: 15px;
     color:goldenrod;
     text-align:center;
 }
 .perguntaUm{
     font-size:25px;
    text-transform:uppercase;
    flex: 2 0 auto;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 9px;
    border-style:double;
    border-color: goldenrod;
    border-radius: 6pt;
    background-color:goldenrod;
    background-size: 15px;
    color:black;
    text-align:center;
 }
 .responder1{
    font-family:fantasy;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom:60px;
    margin: auto;
    padding:15px;
    border-radius: 6px;
    background-color:black;
    border-color: goldenrod;
    color:goldenrod; 
 }
 .btn-responderAvancar{
    margin-top: 10%;
   margin-left: 27%;
   margin-bottom: 10%;
   font-family:fantasy;
   font-size: 18px;
   text-align: center;
   border-color: goldenrod;
   background-color:black;
   color:goldenrod;
 }
 .btn-responderAvancar:hover{
   font-size: 18px;
   text-align: center;
  
}
 footer{
    flex-shrink:0 ;
    padding: 15px;
    background-color: rgb(29, 27, 27);
    color:white;
    text-align:center;  
 }